<mat-card class="container">
    <mat-card class="sub-container">
        <div class="intro-text">
            <div class="intro-text__icon">
                <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
            </div>
            <div class="intro-text__text">Welcome to ICICI iRecruit</div>
        </div>
        <div class="input-field">
            <div class="input-field__icon">
                <img src="../../../assets/mail.png" alt="Mail_Icon">
            </div>
            <div class="input-field__text">
                <input type="text" placeholder="Example@icici.com" #emailSignup/>
            </div>
        </div>
        <div class="input-field">
            <div class="input-field__icon">
                <img src="../../../assets/password.png" alt="Lock_Icon">
            </div>
            <div class="input-field__text">
                <input type="password" placeholder="Password" #passwordSignup/>
            </div>
        </div>
    
        <button class="sign-in-btn mat-raised-button" (click)="onSignup(emailSignup.value,passwordSignup.value)">Create Account</button>
        <div class="sign_in">
            <a routerLink="/login">Already a user? <span style="font-weight: 500;">Sign In</span></a>
        </div>
    </mat-card>
</mat-card>
