
<div class="wrapper">
    <div class="app-logo">
        <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
    </div>
    <div class="title">Indents</div>
    <div class="sub-container">

        <div class="sidebar">
            <div class="indent_role m-10">{{indent.role}}</div>
            <div class="m-10 indent_items">Department: {{indent.department}}</div>
            <div class="m-10 indent_items">Vacancies: {{indent.vacancies}}</div>
            <div class="m-10 indent_items">Created on: {{getDate(indent.created_on) | date}}</div>
        </div>
        
       
        <div class="indent-cards">
            <app-indent-details-list-item [requiredSkills]="indent.skills"></app-indent-details-list-item>
            <!-- <div class="loader-placeholder" *ngIf="!isLoaded">
                <img width="100px" height="auto" src="../../../assets/spinner.gif" alt="spinner">
            </div> -->
        </div>
            
           
    </div>

    <!-- </div> -->
    
    <!-- <div class="profile-image">
        <img src="../../../assets/profile.png" alt="Profile_Pic">
    </div> -->

   
   <mat-card class="action_back_btn p-20" (click)="onBack()">
    <img src="../../../assets/back.svg" alt="back" class="create-indent__btn_img">
    <p>Back</p>
   </mat-card>

   <mat-card class="action_create_applicant_btn p-20" (click)="onCreateApplication()">
    <img src="../../../assets/add_applicant.png" alt="back" class="create-indent__btn_img">
    <p>Create Applicant</p>
   </mat-card>

</div>


