// @import '../../../styles.scss';
.wrapper {
    position: relative;
    height: 100%;
    
    width: 100% !important;
}

.app-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
.profile-image {
    position: absolute;
    top: 5%;
    right: 5%;
    img {
        border-radius: 50%;
        width: 100px;
        height: auto;
    }
}
.title{
    position: absolute;
    top: 10%;
    left: 20%;
    color: #0C215C;
    font-size: 20px;
}
.sub-container{
    display: flex;
    justify-content: center;    
    align-items: center;
}
.action_back_btn{
    position: absolute;
    bottom: 2%;
    left: 2.5%;
    display: flex;
    justify-content: center ;
    width: 120px;
    height: auto;
    border-radius: 40px;
    padding:10px 20px;
    color: #0C215C;
    align-items: center;
    cursor: pointer;

        img{
            width: 15px;
            height: auto;
            margin: 0px 5px;
        }
    
}
.action_create_applicant_btn{
    position: absolute;
    bottom: 2%;
    right: 2.5%;
    display: flex;
    justify-content: center ;
    width: 180px;
    height: auto;
    border-radius: 40px;
    padding:10px 20px;
    color: #0C215C;
    align-items: center;
    cursor: pointer;

        img{
            width: 15px;
            height: auto;
            margin: 0px 5px;
        }

}
.sidebar{
    width: 280px;
    height: 100%;
    justify-items: center;
}
.indent_role{
    display: flex;
    font-size: large;
    align-items: center;
}

.indent-cards {
    display: flex;
    justify-content: center;
    // align-items: center;
}
.loader-placeholder {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}