@import '../../../styles.scss';

::ng-deep.mat-dialog-content{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.feeback-form{
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
}
.feedback_slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback-action{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.action-btn {
    padding: 5px 20px;
    border-radius: 5%;
    border: none;
}
::ng-deep.mat-dialog-title {
    margin: 0;
}
.blue {
    color: #ffffff;
    background: #0F4D92;
}