<div mat-dialog-title>Feedback of the applicant</div>
<div mat-dialog-content class="feeback-form">
    <div class="feedback_slider">
     Enthusiasm/Passion   
        <mat-slider
            class="rate-slider"
            [max]=10
            [min]=1
            [step]=1
            [thumbLabel]=true
            [tickInterval]=1
            [vertical]=false
            [(ngModel)]="passionValue"
            
        >
   
    <!-- [(ngModel)]="value" -->
        </mat-slider>
    </div>
    <div class="feedback_slider">
        Attitude  
           <mat-slider
               class="rate-slider"
               [max]=10
               [min]=1
               [step]=1
               [thumbLabel]=true
               [tickInterval]=1
               [vertical]=false
               [(ngModel)]="attitudeValue"
           >
      
       <!-- [(ngModel)]="value" -->
           </mat-slider>
       </div>
       <div class="feedback_slider">
        Communication  
           <mat-slider
               class="rate-slider"
               [max]=10
               [min]=1
               [step]=1
               [thumbLabel]=true
               [tickInterval]=1
               [vertical]=false
               [(ngModel)]="communicationValue"
           >
      
       <!-- [(ngModel)]="value" -->
           </mat-slider>
       </div>
       <div class="feedback_slider">
        Apptitude for the role   
           <mat-slider
               class="rate-slider"
               [max]=10
               [min]=1
               [step]=1
               [thumbLabel]=true
               [tickInterval]=1
               [vertical]=false
               [(ngModel)]="aptiValue"
           >
      
       <!-- [(ngModel)]="value" -->
           </mat-slider>
       </div>
       <div class="feedback_slider">
        Clarity of thought/ Domain Knowledge    
           <mat-slider
               class="rate-slider"
               [max]=10
               [min]=1
               [step]=1
               [thumbLabel]=true
               [tickInterval]=1
               [vertical]=false
               [(ngModel)]="domainValue"
           >
      
       <!-- [(ngModel)]="value" -->
           </mat-slider>
       </div>
       <div class="feedback_slider">
        Temprament   
           <mat-slider
               class="rate-slider"
               [max]=10
               [min]=1
               [step]=1
               [thumbLabel]=true
               [tickInterval]=1
               [vertical]=false
               [(ngModel)]="tempramentValue"
           >
      
       <!-- [(ngModel)]="value" -->
           </mat-slider>
       </div>
    <textarea class="Feeback" name="Feeback" rows="6" cols="50" placeholder="Write your thoughts!"  [(ngModel)]="feedbackValue"></textarea>
    <div class="feedback-action"> 
        <div><button class="action-btn mat-raised-button" mat-dialog-close>Close</button></div>
        <div><button class="action-btn blue mat-raised-button" mat-dialog-close (click)="onSubmit()">Submit</button></div>
    </div>
    
    
</div>