<div class="container">
    <mat-card class="sub-container" *ngFor="let indent of arrIndents">
        <div class="job-role-section" (click)="onIndentClicked()">
            <div class="jr_title">
                <div class="jr_role">{{indent.role}}</div>
                <app-more-menu [onParentDetectOutsideClick]="isOutsideClicked" (onItemCLicked)="onItemCLicked(indent)" (onOutsideClick)="setPanelVisibilty()"></app-more-menu>
            </div>
            <div (click)="onCopyClicked(); $event.stopPropagation()">
                <div class="jr_link"  [cdkCopyToClipboard]="createApplicationUrl(indent)">
                    <div>
                        Copy application form URL
                    </div>
                    <div class="jr_mail-icon">
                        <img src="../../../assets/copy.svg" alt="Copy_Icon">
                    </div>
                </div>
            </div>
            <div class="jr_applications">
                <div>5 new applications</div>
                <div>3 To recruit</div>
            </div>
            <div class="jr_vacancy">Vacancies: {{indent.vacancies}}</div>
            <div class="jr_dept">Department: {{indent.department}}</div>
        </div>
        <div class="job-desc-section">
            <div class="jd_date">
                Created on: {{getDate(indent.created_on) | date}}
            </div>
            <div class="jd_publish">
                <app-toggle-button [isOpen]="indent.open" (statusToggle)="onToggle($event)"></app-toggle-button>
            </div>
        </div>
    </mat-card>
</div>