<div class="wrapper">
    <div class="loader-placeholder" *ngIf="!isLoaded">
        <!-- <img width="100px" height="auto" src="../../../assets/spinner.gif" alt="spinner"> -->
        <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_QR3oyU.json"
            background="transparent"
            speed="1"
            style="width: 600px; height: 600px;"
            loop autoplay>
        </lottie-player>
        <div class="empty_msg">You don't have any active applicants.</div>
    </div>
    
    <div  *ngIf="isLoaded" cdkDropListGroup class="mt-40">
        <div class="or-spacer-vertical left">
            <div class="mask"></div>
          </div>
        <div class="group-container">
            <h2>Applicants</h2>
            <div cdkDropList [cdkDropListData]="applicants" class="categories" (cdkDropListDropped)="drop($event, 'applicants')">
                <app-applicant-card [applicantsData]="applicants" [requiredSkills]="requiredSkills"></app-applicant-card>
            </div>
        </div>

        <div class="group-container">
            <h2>First Interview</h2>
            <div cdkDropList [cdkDropListData]="firstRound" class="categories" (cdkDropListDropped)="drop($event, 'first')">
                <app-applicant-card [applicantsData]="firstRound" [requiredSkills]="requiredSkills"></app-applicant-card>
            </div>
        </div>

        <div class="group-container">
            <h2>Second Interview</h2>
            <div cdkDropList [cdkDropListData]="secondRound" class="categories" (cdkDropListDropped)="drop($event, 'second')">
                <app-applicant-card [applicantsData]="secondRound" [requiredSkills]="requiredSkills"></app-applicant-card>
            </div>
        </div>

        <div class="group-container">
            <h2>Contract Proposal</h2>
            <div cdkDropList [cdkDropListData]="thirdRound" class="categories" (cdkDropListDropped)="drop($event, 'third')">
                <app-applicant-card [applicantsData]="thirdRound" [requiredSkills]="requiredSkills"></app-applicant-card>
            </div>
        </div>

        <div class="group-container">
            <h2>Rejected Profiles</h2>
            <div cdkDropList [cdkDropListData]="thirdRound" class="categories" (cdkDropListDropped)="drop($event, 'rejected')">
                <app-applicant-card [applicantsData]="rejectedProfiles"></app-applicant-card>
            </div>
        </div>
    </div>
</div>