<div class="container">
    <div cdkDropListGroup class="mt-40">
        <div class="group-container">
            <h2>Applicants</h2>
            <div cdkDropList [cdkDropListData]="applicants" class="categories" (cdkDropListDropped)="drop($event)">
                <div class="each-box" *ngFor="let item of applicants" cdkDrag>
                    <div class="applicant-name">{{item}}</div> 
                    <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating> -->
                    <ngb-rating [(rate)]="currentRate">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 5">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                </div>
            </div>
        </div>

        <div class="group-container">
            <h2>First Round</h2>
            <div cdkDropList [cdkDropListData]="firstRound" class="categories" (cdkDropListDropped)="drop($event)">
                <div class="each-box" *ngFor="let item of firstRound" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="group-container">
            <h2>Second Round</h2>
            <div cdkDropList [cdkDropListData]="secondRound" class="categories" (cdkDropListDropped)="drop($event)">
                <div class="each-box" *ngFor="let item of secondRound" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="group-container">
            <h2>Third Round</h2>
            <div cdkDropList [cdkDropListData]="thirdRound" class="categories" (cdkDropListDropped)="drop($event)">
                <div class="each-box" *ngFor="let item of thirdRound" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>
</div>