<mat-card class="container">
    <mat-card class="sub-container">
        <div class="intro-text">
            <div class="intro-text__icon">
                <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
            </div>
            <div class="intro-text__text">Welcome to ICICI iRecruit</div>
        </div>
        <div class="input-field">
            <div class="input-field__icon">
                <img src="../../../assets/mail.png" alt="Mail_Icon">
            </div>
            <div class="input-field__text">
                <input type="text" placeholder="example@icici.com">
            </div>
        </div>
        <div class="input-field">
            <div class="input-field__icon">
                <img src="../../../assets/password.png" alt="Lock_Icon">
            </div>
            <div class="input-field__text">
                <input type="text" placeholder="Password">
            </div>
        </div>
        <div class="forget-password">
            <a href="#">Forget Password?</a>
        </div>
        <button class="sign-in-btn mat-raised-button">Sign In</button>
        <div class="create-new">
            <a href="#">Not registered? <span style="font-weight: 500;">Create an Account</span></a>
        </div>
    </mat-card>
</mat-card>
