<mat-card class="container">
    <mat-card class="sub-container">
        <div class="intro-text">
            <div class="intro-text__icon">
                <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
            </div>
            <div class="intro-text__text">Welcome to ICICI iRecruit</div>
        </div>
        <div class="input-field">
            <div class="input-field__icon">
                <img src="../../../assets/mail.png" alt="Mail_Icon">
            </div>
            <div class="input-field__text">
                <input type="text" placeholder="Example@icici.com" #email/>
                <!-- <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                             placeholder="Ex. pat@example.com">
                      <mat-hint>Errors appear instantly!</mat-hint>
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form> -->
            </div>
        </div>
        <div class="input-field">
            <div class="input-field__icon">
                <img src="../../../assets/password.png" alt="Lock_Icon">
            </div>
            <div class="input-field__text">
                <input type="password" placeholder="Password" #password/> 
            </div>
        </div>
        <div class="forget-password">
            <a href="#">Forget Password?</a>
        </div>
        <!-- <button class="sign-in-btn mat-raised-button" (click)="onSignin('sukalp18@gmail.com', '07658266247')">Sign In</button> -->
        <button class="sign-in-btn mat-raised-button" (click)="onSignin(email.value,password.value)">Sign In</button>
        <div class="create-new">
            <a routerLink="/signup">Not registered? <span style="font-weight: 500;">Create an Account</span></a>
        </div>
    </mat-card>
</mat-card>
