@import '../../../styles.scss';
.wrapper {
    position: relative;
    height: 100%;
    padding: 40px 40px;
}

.app-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
.logout {
    position: absolute;
    right: 5%;
    top: 5%;
    // cursor: pointer;
    p {
        color: #0C215C;
        font-size: 16pt;
    }    
}
.search-bar__btn{
    position: absolute;
    right: 5%;
    top: 5%;
    .search-bar__btn_card{
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        outline: 1px solid #960018;
        p {
            // color: #960018;
        }
       
    }
    
}
.profile-image {
    position: absolute;
    top: 5%;
    right: 5%;
    img {
        border-radius: 50%;
        width: 100px;
        height: auto;
    }
}
.title{
    position: absolute;
    top: 11%;
    left: 20%;
    color: #0C215C;
    font-size: 28px;
    font-weight: 500;
}
.sub-container{
    // margin: 0 auto;
    position: relative;
    margin-top: 80px;
}.search-bar{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .search-bar__icon{
        position: absolute;
        img{
            width: 20px;
            height: auto;
        }      
    }
    .search-bar__input{
        position: relative;
        width: 50%;
        input{
            width: 100%;
            color: #0C215C;
            font-weight: bold;
            padding: 10px 10px 10px 40px;
            border-radius: 5px;
        }
        
    }
    .search-bar__btn{
        .search-bar__btn_card{
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            outline: 1px solid;
        }
        
    }
}.action_back_btn{
    border-radius: 40px;
    padding:10px 20px;
    color: #0C215C;
    align-items: center;
    cursor: pointer;
    display: flex;

        img{
            width: 15px;
            height: auto;
            margin: 0px 5px;
        }
    
}
.back-btn-wrap {
    position: sticky;
    bottom: 2%;
    justify-content: center ;
    width: 120px;
    height: auto;
}
.back-btn-right-wrap {
    position: sticky;
    bottom: 2%;
    right: 2%;
    justify-content: center ;
    width: 120px;
    height: auto;
}
.create-indent{
    position: sticky;
    bottom: 2%;
    right: 0%;
    width: 150px;

    .create-indent__btn{
        display: flex;
        border-radius: 40px;
        padding:10px 20px;
        color: #0C215C;
        align-items: center;
        cursor: pointer;

        .create-indent__btn_img{
            width: 15px;
            height: auto;
            margin: 0px 5px;
        }
    }

}
.parent-action-btns {
    position: sticky;
    bottom: 2%;
    display: flex;
    justify-content: flex-end;
}
.indent-cards {
    // display: flex;
    // justify-content: flex-start;
    // cursor: pointer;
    // align-items: center;
    // margin: 0 140px;
}
.loader-placeholder {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader-anim{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep.mat-slide-toggle .mat-slide-toggle-ripple {
    display: none;
}
::ng-deep.mat-simple-snackbar {
    justify-content: center !important;
    span {
        color: #0c215c;
    }
}
::ng-deep.mat-snack-bar-container {
    background: white !important;
}
::ng-deep.cdk-overlay-pane {
    pointer-events: none;
}
