
<div class="wrapper">
    <div class="app-logo">
        <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
    </div>
    <div class="title">Indents</div>
    <div class="sub-container">
       
        <div class="indent-cards">
            <app-indent-list-item [indents]="indents" (applicationURLCopied)="applicationURLCopied($event)" (onToggleSwitched)="onToggleSwitched($event)" *ngIf="isLoaded"></app-indent-list-item>
            <div class="loader-placeholder" *ngIf="!isLoaded">
                <img width="100px" height="auto" src="../../../assets/spinner.gif" alt="spinner">
            </div>
        </div>
            
           
    </div>



   
    <div class="back-btn-wrap">
        <mat-card class="action_back_btn p-20" (click)="onBack()">
            <img src="../../../assets/back.svg" alt="back" class="create-indent__btn_img">
            <p>Back</p>
           </mat-card>
    </div>

</div>


