input {
    font-size: 12pt;
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #0000002b;
}

.wrapper {
    position: relative;
    height: 100%;
    padding: 100px 100px;
}

.title {
    text-align: center;
    font-weight: 500;
    color: #0C215C;
    font-size: 20pt;
}

.app-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}

.form-and-skills-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 60px 60px;
    .form-section {
        width: 50%;
    }
    .skills-section {
        width: 37%;
        padding: 30px 0px;
        // border: 1px solid #1a449430;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .skills-section__title {
            text-align: center;
            font-weight: 500;
            color: #1a4494;
            font-size: 12pt;
        }
        .skills-section__chips {
            border: 1px solid #1a449430;
            margin-top: 40px;
            padding: 0 20px;
            mat-form-field {
                width: 100%;
            }
        }
    }
}

#input-container {
    position: relative;
    padding: 10px;
    width: 90%;
} 
#input-container > img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 19px;
    left: 20px;
}  
#input-container > input {
    // padding-left: 40px;
    width: 100%;
    padding: 10px 10px 10px 40px;
}
.divider{
    position:absolute;
    left:55%;
    top:30%;
    bottom:1%;
    // border-left:1px solid rgb(0, 0, 0);
}
.mat-divider.mat-divider-vertical {
    border-right-width: 2px !important;
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}
.submit-form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
::ng-deep input.mat-chip-input {
    border-bottom: 0px !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.upload {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 0px;
    margin: 0 0 0 10px;
    border-bottom: 1px solid #0000002b;
    // margin-bottom: 10px;
    img {
        width: 20px;
        height: 20px;
        padding-left: 10px;
        position: unset !important;
        top: unset !important;
        left: unset !important;
    }
}
.width-60 {
    position: absolute !important;
    right: 0 !important;
    width: fit-content !important;
    border-bottom: 0px !important;
}
.pt-5 {
    padding-top: 5px;
}
.btn_appearance {
    border-radius: 20px;
    padding: 0 40px;
}