

<div class="container">
    <div class="app-logo">
        <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
    </div>
    <div class="title">Screening</div>
    
    <div class="profile-image">
        <img src="../../../assets/profile.png" alt="Profile_Pic">
    </div>
   
   <div class="action-buttons">
       <mat-card class="action-buttons__btns">
        <img src="../../../assets/cancel.svg" alt="cancel" class="create-indent__btn_img">
        <p>cancel</p>
       </mat-card>
       <mat-card class="action-buttons__btns">
        <img src="../../../assets/draft.svg" alt="save to draft" class="create-indent__btn_img">
        <p>save to draft</p>
      </mat-card>
      <mat-card class="action-buttons__btns" >
        <img src="../../../assets/check.svg" alt="create indent" class="create-indent__btn_img">
        <p>create indent</p>
      </mat-card>
   </div>
   
   <mat-card class="action_back_btn" (click)="onBack()">
    <img src="../../../assets/back.svg" alt="back" class="create-indent__btn_img">
    <p>Back</p>
   </mat-card>

</div>

