<div class="wrapper">
    <div class="app-logo">
        <img src="../../../assets/ICICI-Bank-PNG-Icon.png" alt="ICICI_logo">
    </div>
    <div class="title">Rejected Profiles</div>

    <div class="sub-container">

        <div class="sidebar scrollbar force-overflow" id="style-3">
            <div class="rejected-title">All Rejected Profiles</div>
            <div class="profile" *ngFor="let item of [1]">
                <div class="profile_img">
                    <img [src]="profileUrl" alt="">
                </div>
                <div class="profile_name">
                    Sukalp Tripathi
                </div>
            </div>
        </div>

      <mat-card class="profile-and-matching-card">
        <div class="profile-details">

          <div class="profile-image"> 
            <img [src]="profileUrl" >
          </div>
        
        

            <div class="profile-name">{{name}}</div>
          <div class="profile-details-container">

            <div class="details-section">
              <div class="details-item">
                <div class="detail-desc">Contact:</div>
                <div class="detail-desc">Email:</div>
                <div class="detail-desc">Work Experience:</div>
              </div>
              <div class="details-item">
                <div class="detail-value">{{phone}}</div>
                <div class="detail-value">{{email}}</div>
                <div class="detail-value">{{work_ex}} years</div>
              </div>
            </div>
        
          <div class="profile_details-resume" (click)="openResume()">
              <img class="profile_details-resumeIcon" src="../../../assets/pdf.svg">
              <span style="color: brown;">Open Resume</span>
          </div>
  
          </div>
        </div>
        <div class="skills-list">
            <div class="skill-match-container">
              <div class="profile-match">
                <circle-progress
                  [percent]="matchPercentage"
                  [radius]="50"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300">
                </circle-progress>
              </div>
             <div class="factors">
              <mat-chip-list class="factorChip" *ngFor="let factor of feedFacts | keyvalue">
                <mat-chip  >{{factor.key }} : {{factor.value}}</mat-chip>
              </mat-chip-list>
             </div>
             <div class="comment">
               {{comment}}
             </div> 

            </div>
        </div>
      </mat-card>
      
      <div class="right-sidebar">
        <mat-stepper orientation="vertical">
          <mat-step>
            <ng-template matStepLabel>Indent created on:</ng-template>
            <ng-template matStepContent>
              <p>{{created_on | date: 'dd/MM/yyyy'}}</p>
            </ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Applied on:</ng-template>
            <ng-template matStepContent>
              <p>{{applied_on | date: 'dd/MM/yyyy'}}</p>
              </ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Applicant rejected on</ng-template>
            <ng-template matStepContent>
              <p>{{rejected_on | date: 'dd/MM/yyyy'}}</p>
              </ng-template>
            </mat-step>
        </mat-stepper>
      </div>

    </div>
   
   <mat-card class="action_back_btn" (click)="onBack()">
    <img src="../../../assets/back.svg" alt="back" class="create-indent__btn_img">
    <p>Back</p>
   </mat-card>

</div>

